<div class="application template">
  <h1>Welcome to Beard Beats</h1>
  <p>This is <em>application.hbs</em>.</p>
  {{outlet}}
</div>


<!-- basically the outlets in each template allow for the different templates to nest inside of each other based on the route structure-->
