<div class="artist template">
 <h2>{{model.name}}</h2>
 <p>This is <em>artist.hbs</em>.</p>
 {{outlet}}
</div>
<!-- model here is an array of every artist -->
<!-- so the artist route has an index that is auto loaded, but the difference here is that we actually defined index.hbs while "artists" has
just a blank index.hbs -->
